# Python environment and build artifacts
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.venv/
build/

# C extensions
*.so

# uv build artifacts
uv.lock

# cache
.pytest_cache/
.ruff_cache/

# local env files
.env*
!.env.example
